/* elements */

html,
body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background-color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* classes */
.crystal-img {
    height: auto;
    width: 20%;
}

/* ids */
#gypsy-img {
    width: 100%;
}