/* elements */

html,
body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background-color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /*background-image: url("../images/gypsy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/

}

/* classes */
.crystal-img {
    height: auto;
    width: 15%;
}

/* ids */
#go-ball {
    width: 50px;
}

#gypsy-img {
    width: 100%;
}

#header {
    width: 66%;
}

@media only screen and (max-width: 770px) {
    #gypsy-img {
        display: none;
    }

    #header {
        width: 75%;
    }
}

@media only screen and (max-width: 420px) {
    body {
        font-size: 0.8em;
    }

    .crystal-img {
        width: 15%;
    }

    #gypsy-img {
        display: none;
    }

    #header {
        width: 90%;
    }
}